{% extends "::base.html.twig" %}

 {% block stylesheets %}
  <link href="{{ asset ('css/index.css') }}" rel='stylesheet' type='text/css' />
 {% endblock %}

{% block body %}

 <div class="container-fluid" id="header_container">
  <!-- START CONNECT BAR-->
  {% include 'connexion.html.twig' %}
  <!-- END CONNECT BAR -->
 <div class="container-fluid" id="main_container">
  <!-- START TOP NAVBAR-->
  {% include 'navbar.html.twig' %}
  <!-- END TOP NAVBAR -->
  <!-- START SIDEBAR-->
  {% include 'sidebar.html.twig' %}
  <!-- END SIDEBAR-->

  <div class="col-lg-9" style="margin-left: 10px;">
   <div class="row">
    <h3>TABLEAU DE BORD</h3><hr style="border: 1px solid darkgray;">
   </div>
   <div class="row">
    <h5>LES RELANCES CANDIDATS:</h5>
   </div>
  </div>

</div>



{% endblock %}


{% block javascripts %}
{% endblock %}