#head_row {
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
}

#form_row{
    margin-top: 10px;
    padding: 5px;
}

#form_edit_row{

    padding: 10px;
}

#edit_button
{
    background-color: #e7e7e7;
    text-decoration: none;
}

#delete_button
{
    background-color: #e7e7e7;
}

#edit
{
    margin-top: 45px;
    padding-left: 90px;
}

#flash_message
{
    margin-top: 10px;
}
#show_client
{
    overflow-wrap: break-word;
}

#msg_gestion{
    margin-top: 10px;
    background-color:  #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    text-align: center;
}

#previous{
    background-color:  #e7e7e7;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

#block_left_candidat {
    margin-top: 20px;
    /*border-right: 1px solid black;*/

}

#block_right_candidat{
    margin-top: 20px;
    border-left: 1px solid black;

}

#block_left_client {
    margin-top: 20px;
    /*border-right: 1px solid black;*/

}

#block_right_client {
    margin-top: 20px;
    border-left: 1px solid black;

}

#block_left_emploi {
    margin-top: 20px;
    /*border-right: 1px solid black;*/

}

#block_right_emploi {
    margin-top: 20px;
    border-left: 1px solid black;

}
