#main_container
{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;


}

#first_part_index
{
    border: 1px solid black;
}

#header_container
{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;

}