{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link href="{{ asset ('css/request_content.css') }}" rel='stylesheet' type='text/css' />
{% endblock %}

<div class="container-fluid" id="request_container">
    <div class="row">
        <h3 style="margin-left: 15px">RE-INITIALISATION DU MOT DE PASSE</h3><hr style="border: 1px solid darkgray; margin-left: 25px; margin-right: 25px ">
    </div>
    <div class="row" id="form_request">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" id="username" name="username" required="required" />
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </form>
    </div>
</div>
